.App {
  text-align: center;
}

.App-header {
  background-color: #4e4227;
  height: 60px;
  padding: 20px;
  color: #b29662;
}

.App-title {
  font-size: 1.5em;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
}
.flex-item {
  flex: 1;
  background: white;
  min-width: 400px;
  min-height: 300px;
  margin: 10px;
}
.flex-content {
  /* line-height: 150px; */
  color: black;
  /* font-weight: bold; */
  font-size: 1rem;
  text-align: left;
}
.row {
  border-top: 2px solid #000;
  padding: 1px;
  margin: 1px;
}
