.flex-container {
  display: flex;
  flex-flow: row wrap;
}
.flex-item {
  flex: 1;
  background: tomato;
  min-width: 300px;
  height: 650px;
  margin: 10px;

  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}
